<div class="col-lg-10 mx-auto mt-2">
  <div class="row mt-4 mb-4">
    <div class="col-12">
      <h1 class="text-center">Hello! Welcome to the developers community!</h1>

      <div class="card mt-4 mb-4 shadow">
        <div class="card-body">
          <h3 class="text-center mb-3">Search professionals across the world!</h3>
          <%= search_form_for @q, url: root_path do |f| %>
            <div class="input-group mb-3">
              <%= f.search_field :city_or_country_cont,
                                 class: 'form-control',
                                 placeholder: "Search by country or city",
                                 aria: { label: 'Search by country or city', describedby: 'button-addon2' } %>
              <%= f.submit 'Search', class: 'btn btn-primary', id: 'button-addon2' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <% @users.each do |user| %>
      <div class="col-lg-3 mb-3 mt-3">
        <div class="card text-center shadow pb-3">
          <div class="card-body">
            <%= image_tag 'dummy_user.jpg', style: 'width: 150px; border-radius: 50%; border: 2px solid #0d6efd;', class: 'mb-3' %>
            <div class="user-info position-relative" style="min-height: 180px">
              <h5><%= user.name %></h5>
              <p class="lead mb-1"><%= user.profile_title %></p>
              <small class="text-primary"><%= user.country %></small><br>
              <div class="position-absolute bottom-0 start-50 translate-middle-x">
                <%= link_to 'View Profile', 'javascript:void(0)', class: 'btn btn-sm btn-primary mt-3' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
