<div class="col-lg-10 mx-auto mt-5">
  <%= render 'member_personal_details', user: @user %>

  <div class="card mb-5">
    <div class="card-body">
      <div class="row">
        <div class="col-auto">
          <div class="f-flex justify-content-start">
            <h3>About</h3>
          </div>
        </div>
        <div class="col">
          <% if user_signed_in? && @user == current_user %>
            <div class="d-flex justify-content-end">
              <%= link_to edit_member_description_path, data: { turbo_frame: 'modal' } do %>
                <i class="bi bi-pencil-fill"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render 'member_description', user: @user %>
    </div>
  </div>

  <div class="card mb-5">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="f-flex justify-content-start">
            <h3>Work Experiences</h3>
          </div>
        </div>
        <div class="col">
          <% if user_signed_in? && @user == current_user %>
            <div class="d-flex justify-content-end">
              <%= link_to new_work_experience_path, data: { turbo_frame: 'modal' } do %>
                <i class="bi bi-plus"></i> Add experience
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <ul class="list-group" id="work-experience-items">
        <% if @user.work_experiences.present? %>
          <% @user.work_experiences.each do |work_experience| %>
            <%= render 'work_experiences/work_experience', work_experience: work_experience %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
